cal{
   border: 2px solid #FF33AA;
   display: block;
   width: 200px;
   height: 100px;
}

cal screen{
    width: 100%;
    display: inline-block;
    background-color: black;
    color: greenyellow;
    
}
cal operators{
    width: 100%;
    display: block;
    }

cal operators op{
    color: red;
    background-color: orange;
    width: 18%;
    display: inline-block;
    border: 0px;
    margin: 0px;
    padding: 0px;
    text-align: center;
    }

cal digits{
    width: 100%;
    display: block;
}

cal digits dig{
    color: black;
    background-color: gray;
    width: 18%;
    display: inline-block;
    border: 0px;
    margin: 0px;
    padding: 0px;
    text-align: center;  
  
}

cal digits dig[event] 
{
    background-color:lightcoral;
}
 cal digits dig:hover{
     background-color:ghostwhite

 }
 cal digits dig[event]:hover{
     background-color:crimson
 }